<input type="text" class="todo-input" placeholder="What needs to be done" 
    [(ngModel)]="todoTitle" (keyup.enter)="addTodo()">

<todo-item *ngFor="let todo of filteredTodos$ | async" [todo]="todo"></todo-item>

<div class="extra-container">
    <!-- <div><label><input type="checkbox" (change)="todoService.checkAllTodos()">Check All</label></div>
    <div>{{ todoService.remaining() }} item left</div> -->
</div>

<div class="extra-container">
    <div>
        <button class="btn-primary mr-2" [ngClass]="{'active': filter.value === 'all'}" (click)="filter.reset('all')">All</button>
        <button class="btn-info mr-2" [ngClass]="{'active': filter.value === 'active'}" (click)="filter.reset('active')">Active</button>
        <button class="btn-success mr-2" [ngClass]="{'active': filter.value === 'completed'}" (click)="filter.reset('completed')">Completed</button>
    </div>
    <!-- <div *ngIf="todoService.atLeastOneCompleted()">
        <button (click)="todoService.clearCompleted()">Clear Completed</button>
    </div> -->
</div>
