<hr>
<h1>{{tutorialObject.title}}</h1>
<h2>{{tutorialObject.subTitle}}</h2>

<p><b>Binding: {{tutorialObject.bindOutput}}</b></p>
<button ng-click="timesTwo()">Multiply</button>

<hr>
<h2>Name: {{tutorialObject.firstname}}</h2>
<h2>LastName: {{tutorialObject.lastname}}</h2>

<label>First Name:</label>
<input type="text" ng-model="tutorialObject.firstname">
<label>Last Name:</label>
<input type="text" ng-model="tutorialObject.lastname">  

<br>
<br>

<a href="#!tutorialSecond">Tutorial second page</a>